/.idea/encodings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/pysoltcp.iml
/.idea/workspace.xml
/pysoltcp.egg-info/dependency_links.txt
/pysoltcp.egg-info/not-zip-safe
/pysoltcp.egg-info/PKG-INFO
/pysoltcp.egg-info/requires.txt
/pysoltcp.egg-info/SOURCES.txt
/pysoltcp.egg-info/top_level.txt
